ipykernel==7.1.0
numpy==2.3.4
polars==1.35.2
matplotlib==3.10.7
fastexcel==0.16.0
plotly==6.4.0
notebook>=7.0
anywidget>=0.9.13
pandas==2.3.3
kaleido==1.2.0
scikit-learn==1.7.2
sktime==0.40.1
statsmodels==0.14.5
pyarrow==22.0.0
pmdarima==2.1.1
tensorflow==2.20.0